.Polygon-LineTo {
  box-shadow: 0px 1px 1px 0 white;
  box-sizing: border-box;
  transition: box-shadow 0.21s ease-in-out;
  z-index: -1;
}

.Polygon-LineToActive {
  box-shadow: 0px 1px 1px 0 yellow;
  box-sizing: border-box;
  transition: box-shadow 0.21s ease-in-out;
  z-index: -1;
}
